body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

#background-rainyday {
  width: 100%;
  height: 100%;
}

.rainy-show {
  position: relative;
  z-index: 100;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
